@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";

body, input, textarea {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: inherit;
}

/* ENCABEZADO */

body {
	background-color: rgb(72, 72, 72);
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #f1f4f3;
	position: absolute;
	z-index: 1;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-wrap:balance;
	width: 100%;
	padding: 0 1em;
	line-height: 1.5;
	z-index: 4;
	background: linear-gradient(#000000, transparent);
	padding-top: 50px;
}

.content_img_profile {
	width: 100%;
	height: 100%;
	left:0;
	top: 0;
	background-image: url(/asset/tecnologia-primer-plano-placa-base.jpg);
	opacity: .3;
	background-size:cover;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 2;
}

.content_img_profile::after {
	background-color: #000000;
	position: absolute;
	z-index: 3;
}

.img_profile img {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	position: relative;
	z-index: 5;
}

.text-head {
	font-size: 1.5rem;
	position: relative;
	z-index: 5;
}

main {
	text-align: justify;
	position: relative;
	margin-top: 6em;
	width:100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;

}

.section-about {
	width: 40%;
	line-height: 1.5rem;
	z-index: 6;
	font-size: 1.2rem;
	margin-top: 10px;
}

.about {
	margin-bottom: 80px;
}

/* FORMULARIO */

.form-container {
	max-width: 50%;
	z-index: 6;
	font-size: 1.3em;
}

.form-group {
	margin: 20px 0;
}

label, input:not([type="checkbox"]) {
	width: 100%;
}

input, textarea, fieldset {
	font-size: 1.2rem;
	border-color: #65ffc9;
	background: inherit;
	background-color: #f1f4f321;
	color: #f1f4f3;
	outline: none;
	border-radius: 6px;
}

textarea {
	width: 100%;
	resize: vertical;
}

input, textarea{
	border: none;
	border-bottom: 1px solid #65ffc9;
	padding: 10px 20px;
	margin: 10px 0;
}

input::placeholder, textarea::placeholder {
	color: #f1f4f3CC;
}

	label {
		margin: 0 20px;
	}

	input[type="checkbox"] {
		accent-color: #65ffc9;	
	}

	button {
		padding: 16px 32px;
		border-radius: 6px;
		color: #f1f4f3;
		background-color: #02a098;
		border: none;
		box-shadow: 1 1 15px #000000;
	}

	button:hover {
		background-color: #05d6d6;
		color: #515151;

	}

	/* FOOTER */

	footer {
		display: flex;
		width: 100%;
		height: 200px;
		background: linear-gradient(transparent, #000000);
		justify-content: center;
		align-items: center;
	}
	
	
